.footer {
  background-color: $lightBackground;
  // position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  @media screen and (max-width: $break-tablet) {
    position: relative;
    height: auto;
  }
  .footer_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 0 50px;
    @media screen and (max-width: $break-tablet) {
      flex-direction: column;
      padding: 0 10px;
    }
  }
  .copywright_container {
    font-weight: $bold;
    @media screen and (max-width: $break-tablet) {
      font-size: 0.6875rem;
      p{
        margin: 5px 0;
      }
    }
  }
  .powered_text {
    .text_underline {
      text-decoration: underline;
    }
    @media screen and (max-width: $break-tablet) {
      font-size: 0.6875rem;
      margin: 5px 0;
    }
  }
  .footer_social_icon {
    margin-right: 35px;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.5;
    }
    @media screen and (max-width: $break-tablet) {
      margin-right: 15px;
      img {
        max-width: 15px;
      }
    }
  }
}
