.modal_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: $black-60;
  //   background: linear-gradient(
  //       304.64deg,
  //       #161425 0%,
  //       rgba(22, 20, 37, 0.76) 37.5%,
  //       rgba(22, 20, 37, 0) 100%
  //     ),
  //     linear-gradient(
  //       56.57deg,
  //       #000000 22.71%,
  //       rgba(0, 0, 0, 0.37) 49.33%,
  //       rgba(19, 23, 43, 0.24) 99.55%
  //     );
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal_component {
    position: absolute;
    max-width: 600px;
    width: 100%;
    max-height: 575px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;
    background: #23233a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    @media screen and (max-width: $break-tablet){
      max-width: 300px;
    }
  }
}
