.navbar {
  position: relative;
  &.nav_custom {
    background-color: transparent;
    top: 0;
    padding: 30px 50px;
    .logo_wrapper {
      &:hover {
        background: none;
      }
    }
    .lol_logo {
      max-width: 288px;
      max-height: 58px;
      @media screen and (max-width: $break-tablet) {
        max-width: 100px;
      }
    }
    .nc__menu {
      .pure-menu-link {
        font-family: $bebasNeue;
        font-size: 1.5rem;
        transition: 0.3s;
        &:hover,
        &:active,
        &:focus {
          background: none;
          color: $pink;
          outline: none;
        }
        @media screen and (max-width: $break-tablet) {
          font-size: 1rem;
        }
      }
    }
    @media screen and (max-width: $break-tablet) {
      position: relative;
      padding: 10px;
    }
  }
}
