.side_drawer_wrapper {
  padding: 100px 30px 0;
  background: $semiLightBakground;
  height: 100vh;
  width: 300px;
  transform: translateX(100%);
  transition: 0.45s;
  transition-delay: 0s;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  font-size: 0.875rem;
  &.reveal {
    transform: translateX(0px);
    transition-delay: 0.2s;
    opacity: 1;
    @media screen and (max-width: $break-tablet){
      position: absolute;
      height: auto;
      padding-bottom: 20px;
    }
  }
  .uport_title {
    font-family: $bebasNeue;
    font-size: 1.5rem;
    margin-bottom: 30px;
    span {
      color: $pink;
    }
  }
  .store_icon {
    &:first-child {
      margin-right: 30px;
    }
  }
  .uport_pointers{
      margin: 0;
  }
}

.close_button {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
}


.register_wrapper{
    margin: 50px 0 35px;
}
