@font-face {
  font-family: "Avenir-Light";
  src: url("../../public/fonts/avenir/Avenir-Light.ttf") format("woff"); }

body {
  font-family: "Avenir-Light", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px; }

* {
  box-sizing: border-box; }

a:hover,
a:focus,
a:active,
input:hover,
input:focus,
input:active {
  outline: none; }

.font_bebas {
  font-family: "Bebas Neue", cursive; }

.font_avenir {
  font-family: "Avenir-Light", sans-serif; }

.text_pink {
  color: #EE6DF6; }

.inline_block {
  display: inline-block; }

.font_size_twice {
  font-size: 2rem; }

.app_bg {
  position: relative;
  width: 100%;
  background-image: url("../assets/home_bg.svg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .app_bg {
      height: auto;
      color: #ddd; } }

.app_wrapper_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%; }

.app_linear_gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(305.39deg, #161425 0%, rgba(22, 20, 37, 0.76) 37.5%, rgba(22, 20, 37, 0) 100%), linear-gradient(55.83deg, #000000 22.71%, rgba(0, 0, 0, 0.37) 49.33%, rgba(19, 23, 43, 0.24) 99.55%); }
  @media screen and (max-width: 767px) {
    .app_linear_gradient {
      padding: 0; } }

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    .container {
      flex-direction: column; } }
  .container .lol_char {
    max-width: 400px; }
    @media screen and (max-width: 767px) {
      .container .lol_char {
        max-width: 250px; } }
  .container .home_content_wrapper {
    max-width: 700px;
    margin-left: 15%; }
    @media screen and (max-width: 767px) {
      .container .home_content_wrapper {
        margin-left: 0; } }
  .container .home_content_title {
    font-family: "Bebas Neue", cursive;
    text-align: center;
    font-size: 2.2rem; }
    @media screen and (max-width: 767px) {
      .container .home_content_title {
        font-size: 1.25rem; } }
  .container .home_content_para {
    font-size: 0.875rem;
    text-align: center; }

.navbar {
  position: relative; }
  .navbar.nav_custom {
    background-color: transparent;
    top: 0;
    padding: 30px 50px; }
    .navbar.nav_custom .logo_wrapper:hover {
      background: none; }
    .navbar.nav_custom .lol_logo {
      max-width: 288px;
      max-height: 58px; }
      @media screen and (max-width: 767px) {
        .navbar.nav_custom .lol_logo {
          max-width: 100px; } }
    .navbar.nav_custom .nc__menu .pure-menu-link {
      font-family: "Bebas Neue", cursive;
      font-size: 1.5rem;
      transition: 0.3s; }
      .navbar.nav_custom .nc__menu .pure-menu-link:hover, .navbar.nav_custom .nc__menu .pure-menu-link:active, .navbar.nav_custom .nc__menu .pure-menu-link:focus {
        background: none;
        color: #EE6DF6;
        outline: none; }
      @media screen and (max-width: 767px) {
        .navbar.nav_custom .nc__menu .pure-menu-link {
          font-size: 1rem; } }
    @media screen and (max-width: 767px) {
      .navbar.nav_custom {
        position: relative;
        padding: 10px; } }

.footer {
  background-color: #161425;
  width: 100%;
  height: 80px;
  bottom: 0; }
  @media screen and (max-width: 767px) {
    .footer {
      position: relative;
      height: auto; } }
  .footer .footer_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 0 50px; }
    @media screen and (max-width: 767px) {
      .footer .footer_content_wrapper {
        flex-direction: column;
        padding: 0 10px; } }
  .footer .copywright_container {
    font-weight: 700; }
    @media screen and (max-width: 767px) {
      .footer .copywright_container {
        font-size: 0.6875rem; }
        .footer .copywright_container p {
          margin: 5px 0; } }
  .footer .powered_text .text_underline {
    text-decoration: underline; }
  @media screen and (max-width: 767px) {
    .footer .powered_text {
      font-size: 0.6875rem;
      margin: 5px 0; } }
  .footer .footer_social_icon {
    margin-right: 35px;
    transition: 0.3s; }
    .footer .footer_social_icon:last-child {
      margin-right: 0; }
    .footer .footer_social_icon:hover {
      opacity: 0.5; }
    @media screen and (max-width: 767px) {
      .footer .footer_social_icon {
        margin-right: 15px; }
        .footer .footer_social_icon img {
          max-width: 15px; } }

.side_drawer_wrapper {
  padding: 100px 30px 0;
  background: #25253D;
  height: 100vh;
  width: 300px;
  transform: translateX(100%);
  transition: 0.45s;
  transition-delay: 0s;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  font-size: 0.875rem; }
  .side_drawer_wrapper.reveal {
    transform: translateX(0px);
    transition-delay: 0.2s;
    opacity: 1; }
    @media screen and (max-width: 767px) {
      .side_drawer_wrapper.reveal {
        position: absolute;
        height: auto;
        padding-bottom: 20px; } }
  .side_drawer_wrapper .uport_title {
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    margin-bottom: 30px; }
    .side_drawer_wrapper .uport_title span {
      color: #EE6DF6; }
  .side_drawer_wrapper .store_icon:first-child {
    margin-right: 30px; }
  .side_drawer_wrapper .uport_pointers {
    margin: 0; }

.close_button {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px; }

.register_wrapper {
  margin: 50px 0 35px; }

.modal_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal_overlay .modal_component {
    position: absolute;
    max-width: 600px;
    width: 100%;
    max-height: 575px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;
    background: #23233a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; }
    @media screen and (max-width: 767px) {
      .modal_overlay .modal_component {
        max-width: 300px; } }

.connect_bottom {
  border-bottom: 1px solid #9a9acb;
  padding: 20px 0; }

.connect_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0; }
  @media screen and (max-width: 767px) {
    .connect_details {
      flex-direction: column;
      align-items: flex-start; } }

.summoner_form .connect_details {
  justify-content: flex-start; }

.summoner_form .connect_txt_wrapper:last-child {
  margin-left: 50px; }
  @media screen and (max-width: 767px) {
    .summoner_form .connect_txt_wrapper:last-child {
      margin-left: 0; } }

.connect_txt_wrapper {
  font-weight: 700; }
  .connect_txt_wrapper .txt_placeholder {
    color: #9A9ACB;
    font-size: 0.875rem;
    margin-bottom: 15px; }
  .connect_txt_wrapper .txt_input .loc_visible_value {
    cursor: pointer;
    line-height: 60px;
    padding-left: 10px; }
  .connect_txt_wrapper .txt_input .loc_list {
    position: absolute;
    list-style-type: none;
    padding: 0;
    background: #1e1e2a;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    margin: 0;
    max-height: 120px;
    overflow-y: scroll; }
    .connect_txt_wrapper .txt_input .loc_list .list_item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      padding-bottom: 5px;
      margin-bottom: 5px;
      line-height: 30px;
      cursor: pointer; }
      .connect_txt_wrapper .txt_input .loc_list .list_item:last-child {
        border-bottom-color: transparent; }
  .connect_txt_wrapper .connect_input input,
  .connect_txt_wrapper .dropdown_location_input {
    background: #1e1e2a;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    height: 60px;
    border-color: transparent;
    width: 245px;
    position: relative;
    padding-left: 10px; }
  .connect_txt_wrapper .dropdown_location_input {
    width: 200px;
    padding-left: 0; }
    .connect_txt_wrapper .dropdown_location_input .drop_arrow {
      position: absolute;
      right: 15px;
      top: 25px; }

.connect_title {
  font-size: 1.5rem; }

.connect_desc {
  font-size: 0.875rem; }

.connect_btn_wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 30px; }

.connect_error {
  position: absolute;
  font-size: 12px;
  color: red;
  bottom: 85px; }

.connect_btn_submit {
  display: block;
  width: 150px;
  height: 50px;
  background: #161425;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  line-height: 50px;
  font-size: 1.125rem;
  cursor: pointer; }

.connect_sub_title {
  font-size: 1.125rem; }

select {
  color: #000000; }

.loader_on_user_profile {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto; }
  .loader_on_user_profile p {
    text-align: center;
    font-size: 1.5rem; }

.user_profile_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }
  .user_profile_wrapper .section_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .user_profile_wrapper .section_one {
        flex-direction: column; } }
  .user_profile_wrapper .profile_pic_wrapper {
    position: relative; }
    .user_profile_wrapper .profile_pic_wrapper .profile_level {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
      left: 0;
      padding: 5px;
      text-align: center;
      font-size: 1.125rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
  .user_profile_wrapper .profile_pic {
    max-width: 150px;
    max-height: 150px; }
  .user_profile_wrapper .user_label {
    color: #9A9ACB;
    margin-bottom: 15px;
    font-size: 0.875rem; }
  .user_profile_wrapper .summoner_wrapper {
    padding: 0 30px;
    min-height: 150px; }
    @media screen and (max-width: 768px) {
      .user_profile_wrapper .summoner_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .user_profile_wrapper .summoner_wrapper .summoner_name {
      font-size: 2.25rem;
      line-height: 43px;
      margin-bottom: 25px; }
    .user_profile_wrapper .summoner_wrapper .location_name {
      font-size: 1.125rem;
      line-height: 22px; }
  .user_profile_wrapper .player_stats_wrapper {
    padding: 0 30px; }
  .user_profile_wrapper .player_stats_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .user_profile_wrapper .player_stats_bottom .psb__left,
    .user_profile_wrapper .player_stats_bottom .psb__right {
      min-width: 80px; }
    .user_profile_wrapper .player_stats_bottom .red_progress_bar {
      width: 70px;
      height: 5px;
      background: #E02A27;
      display: block;
      border-radius: 2px;
      margin: 0 auto; }
    .user_profile_wrapper .player_stats_bottom .green_progress_bar {
      height: 5px;
      background: #62E027;
      display: block;
      border-radius: 2px 0 0 2px; }
    @media screen and (max-width: 768px) {
      .user_profile_wrapper .player_stats_bottom {
        flex-direction: column; } }
  .user_profile_wrapper .user_val {
    font-size: 2.25rem;
    line-height: 43px; }
  .user_profile_wrapper .psb__left,
  .user_profile_wrapper .psb__right {
    text-align: center; }
  .user_profile_wrapper .border_underline {
    border-bottom: 1px solid #9A9ACB; }
  .user_profile_wrapper .user_subtitle {
    text-align: center;
    padding: 0 0 15px;
    margin: 0 0 15px; }
  .user_profile_wrapper .vertical_border {
    border-bottom: 1px solid #9A9ACB;
    width: 50px;
    height: 0;
    transform: rotate(90deg); }
    @media screen and (max-width: 768px) {
      .user_profile_wrapper .vertical_border {
        display: none; } }
  .user_profile_wrapper .recent_stats_wrapper .psb__left,
  .user_profile_wrapper .recent_stats_wrapper .psb__right {
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    align-self: center; }
  .user_profile_wrapper .recent_stats_wrapper .psb__right > div {
    min-width: 70px; }
  .user_profile_wrapper .section_two .cb {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin-right: 10px; }
    .user_profile_wrapper .section_two .cb__gray {
      background-color: #B3B4BC; }
    .user_profile_wrapper .section_two .cb__green {
      background-color: #62E027; }
    .user_profile_wrapper .section_two .cb__red {
      background-color: #E02A27; }
  .user_profile_wrapper .section_two .st__top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .user_profile_wrapper .section_two .st__top_row {
        flex-direction: column; } }
  .user_profile_wrapper .section_two .color_block_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .user_profile_wrapper .section_two .color_block_wrapper {
        flex-direction: column; } }
  .user_profile_wrapper .section_two .cb_holder {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .user_profile_wrapper .section_two .cb_holder {
        flex-direction: column; } }
    .user_profile_wrapper .section_two .cb_holder :first-child {
      margin-left: 0; }
  .user_profile_wrapper .section_two .st__bottom_row {
    background: rgba(30, 30, 42, 0.7);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px; }
  .user_profile_wrapper .section_two .chart_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #323248;
    border-left: 1px solid #323248;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px; }
    .user_profile_wrapper .section_two .chart_block > div:nth-child(2) {
      margin-top: 10px;
      width: 100%;
      text-align: center; }
    .user_profile_wrapper .section_two .chart_block .cb__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-end;
      height: 210px; }
    .user_profile_wrapper .section_two .chart_block .user_photo {
      text-align: center;
      max-width: 66px;
      max-height: 66px; }
      .user_profile_wrapper .section_two .chart_block .user_photo.small_user_photo {
        max-width: 40px;
        max-height: 40px; }
    .user_profile_wrapper .section_two .chart_block .role_name {
      font-size: 0.875rem;
      color: #9A9ACB;
      text-transform: lowercase; }
  .user_profile_wrapper .section_two .block {
    display: inline-block;
    width: 6px;
    margin: 0 10px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .user_profile_wrapper .section_two .block :last-child {
      margin-right: 0; }
    .user_profile_wrapper .section_two .block.b__gray {
      background-color: #B3B4BC; }
    .user_profile_wrapper .section_two .block.b__green {
      background-color: #62E027; }
    .user_profile_wrapper .section_two .block.b__red {
      background-color: #E02A27; }
    .user_profile_wrapper .section_two .block.inc_margin {
      margin-bottom: 35px;
      font-size: 10px; }
  .user_profile_wrapper .section_three .game_row_wrapper {
    margin-top: 30px; }
  .user_profile_wrapper .section_three .gr__topbar {
    background: #1f1f2f;
    height: 33px;
    width: 275px;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; }
    .user_profile_wrapper .section_three .gr__topbar .gr__text {
      font-size: 1.125rem; }
    .user_profile_wrapper .section_three .gr__topbar .gr__subtext {
      font-size: 0.75rem; }
  .user_profile_wrapper .section_three .gr__container {
    background: #1e1e2a;
    box-shadow: inset 0px -20px 10px rgba(0, 0, 0, 0.6);
    border-radius: 0 5px 5px 5px;
    min-height: 130px;
    padding: 20px; }
    .user_profile_wrapper .section_three .gr__container .gr__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .user_profile_wrapper .section_three .gr__container .game_pp_wrapper {
      width: 120px; }
    .user_profile_wrapper .section_three .gr__container .game_pp {
      max-width: 80px;
      max-height: 80px; }
    .user_profile_wrapper .section_three .gr__container .game_usrname {
      font-size: 0.875rem;
      line-height: 17px; }
    .user_profile_wrapper .section_three .gr__container .col_wrapper {
      border-left: 1px solid #323248;
      padding-left: 10px; }
      .user_profile_wrapper .section_three .gr__container .col_wrapper.fixed_width {
        width: 100px;
        min-height: 80px; }
      .user_profile_wrapper .section_three .gr__container .col_wrapper.fixed_width_360 {
        min-width: 360px; }
      .user_profile_wrapper .section_three .gr__container .col_wrapper .user_value {
        font-size: 1.125rem;
        line-height: 22px; }
        .user_profile_wrapper .section_three .gr__container .col_wrapper .user_value.usr_val_green {
          color: #62E027; }
        .user_profile_wrapper .section_three .gr__container .col_wrapper .user_value.usr_val_red {
          color: #E02A27; }
    .user_profile_wrapper .section_three .gr__container .user_items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 380px; }
      .user_profile_wrapper .section_three .gr__container .user_items .item {
        margin: 0 10px 10px;
        max-width: 30px;
        max-height: 30px;
        border-radius: 2px;
        font-size: 10px; }
  @media screen and (max-width: 768px) {
    .user_profile_wrapper {
      max-width: 320px; } }
  .user_profile_wrapper .divider_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .user_profile_wrapper .divider_wrapper .section_two {
      width: 49%; }
  .user_profile_wrapper .section_one,
  .user_profile_wrapper .section_two,
  .user_profile_wrapper .section_three {
    background-color: #23233A;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px; }
  .user_profile_wrapper .sub_title {
    font-size: 1.5rem;
    line-height: 29px; }
  .user_profile_wrapper .no_data_msg {
    width: 100%;
    font-size: 1rem;
    text-align: center; }
