.wrapper{
    padding: 100px 30px 0;
    background: lightblue;
    height: 100vh;
    width: 500px;
    transform: translateX(100%);
    transition: 0.45s;
    transition-delay: 0s;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
}

.reveal{
    transform: translateX(0px);
    transition-delay: 0.2s;
    opacity: 1;
}