.section_three {
  .game_row_wrapper {
    margin-top: 30px;
  }
  .gr__topbar {
    background: #1f1f2f;
    height: 33px;
    width: 275px;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include flexSpaceBetween;
    padding: 15px 20px;
    .gr__text {
      font-size: 1.125rem;
    }
    .gr__subtext {
      font-size: 0.75rem;
    }
  }
  .gr__container {
    background: #1e1e2a;
    // opacity: 0.7;
    box-shadow: inset 0px -20px 10px rgba(0, 0, 0, 0.6);
    border-radius: 0 5px 5px 5px;
    min-height: 130px;
    padding: 20px;
    .gr__row {
      @include flexSpaceBetween;
    }
    .game_pp_wrapper{
        width: 120px;
    }
    .game_pp {
      max-width: 80px;
      max-height: 80px;
    }
    .game_usrname {
      font-size: 0.875rem;
      line-height: 17px;
    }
    .col_wrapper {
      border-left: 1px solid $lightGray;
      padding-left: 10px;
      &.fixed_width {
        width: 100px;
        min-height: 80px;
      }
      &.fixed_width_360{
        min-width: 360px;
      }
      .user_value{
        font-size: 1.125rem;
        line-height: 22px;
        &.usr_val_green{
          color: $green;
        }
        &.usr_val_red{
          color: $red;
        }
      }
    }
    .user_items {
      @include flexSpaceBetween;
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 380px;
      .item {
        margin: 0 10px 10px;
        max-width: 30px;
        max-height: 30px;
        border-radius: 2px;
        font-size: 10px;
      }
    }
  }
}
