.section_two {
  .cb {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin-right: 10px;
    &__gray {
      @include background($gray);
    }
    &__green {
      @include background($green);
    }
    &__red {
      @include background($red);
    }
  }
  .st__top_row {
    @include flexSpaceBetween;
    @media screen and (max-width: 768px) {
      @include flexDirCol;
    }
  }
  .color_block_wrapper {
    @include flexSpaceBetween;
    @media screen and (max-width: 768px) {
      @include flexDirCol;
    }
  }
  .cb_holder {
    margin-left: 30px;
    @include flexCenter;
    @media screen and (max-width: 768px) {
      @include flexDirCol;
    }
    :first-child {
      margin-left: 0;
    }
  }
  .st__bottom_row {
    background: rgba(30, 30, 42, 0.7);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    @include flexCenter;
    padding: 20px;
  }
  .chart_block {
    @include flexSpaceBetween;
    @include flexDirCol;
    border-right: 1px solid $lightGray;
    border-left: 1px solid $lightGray;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    > div:nth-child(2) {
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }
    // &:last-child {
    //   border-right-color: transparent;
    // }
    .cb__container {
      @include flexSpaceBetween;
      align-items: flex-end;
      height: 210px;
    }
    .user_photo {
      text-align: center;
      max-width: 66px;
      max-height: 66px;
      &.small_user_photo {
        max-width: 40px;
        max-height: 40px;
      }
    }
    .role_name {
      font-size: 0.875rem;
      color: $purple;
      text-transform: lowercase;
    }
  }
  .block {
    display: inline-block;
    width: 6px;
    margin: 0 10px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    :last-child {
      margin-right: 0;
    }
    &.b__gray {
      @include background($gray);
    }
    &.b__green {
      @include background($green);
    }
    &.b__red {
      @include background($red);
    }
    &.inc_margin {
      margin-bottom: 35px;
      font-size: 10px;
    }
  }
}
