.section_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.profile_pic_wrapper {
  position: relative;

  .profile_level {
    position: absolute;
    width: 100%;
    background: $black-60;
    bottom: 0;
    left: 0;
    padding: 5px;
    @include textCenter;
    font-size: 1.125rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.profile_pic {
  max-width: 150px;
  max-height: 150px;
}
.user_label {
  color: $purple;
  margin-bottom: 15px;
  font-size: 0.875rem;
}
.summoner_wrapper {
  padding: 0 30px;
  min-height: 150px;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .summoner_name {
    @include userTitle;
    margin-bottom: 25px;
  }
  .location_name {
    font-size: 1.125rem;
    line-height: 22px;
  }
}
.player_stats_wrapper {
  padding: 0 30px;
}
.player_stats_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .psb__left,
  .psb__right {
    min-width: 80px;
  }
  .red_progress_bar {
    width: 70px;
    height: 5px;
    background: $red;
    display: block;
    border-radius: 2px;
    margin: 0 auto;
  }
  .green_progress_bar {
    height: 5px;
    background: $green;
    display: block;
    border-radius: 2px 0 0 2px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.user_val {
  @include userTitle;
}
.psb__left,
.psb__right {
  @include textCenter;
}
.border_underline {
  border-bottom: 1px solid $purple;
}
.user_subtitle {
  @include textCenter;
  padding: 0 0 15px;
  margin: 0 0 15px;
}
.vertical_border {
  border-bottom: 1px solid $purple;
  width: 50px;
  height: 0;
  transform: rotate(90deg);
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.recent_stats_wrapper {
  .psb__left,
  .psb__right {
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .psb__right {
    > div {
      min-width: 70px;
    }
  }
}
