.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $white;
  text-transform: none;
  @media screen and (max-width: $break-tablet) {
    flex-direction: column;
  }
  .lol_char {
    max-width: 400px;
    @media screen and (max-width: $break-tablet) {
      max-width: 250px;
    }
  }
  .home_content_wrapper {
    max-width: 700px;
    margin-left: 15%;
    @media screen and (max-width: $break-tablet) {
      margin-left: 0;
    }
  }
  .home_content_title {
    font-family: $bebasNeue;
    @include textCenter;
    font-size: 2.2rem;
    @media screen and (max-width: $break-tablet) {
      font-size: 1.25rem;
    }
  }
  .home_content_para {
    font-size: 0.875rem;
    @include textCenter;
  }
}
