body {
  font-family: $avenir;
  font-size: 16px;
  color: $white;
  line-height: 20px;
}
* {
  box-sizing: border-box;
}

a:hover,
a:focus,
a:active ,
input:hover,
input:focus,
input:active {
  outline: none;
}

.font_bebas {
  font-family: $bebasNeue;
}

.font_avenir {
  font-family: $avenir;
}

.text_pink{
  color: $pink;
}

.inline_block{
  display: inline-block;
}

.font_size_twice{
  font-size: 2rem;
}

.app_bg {
  position: relative;
  width: 100%;
  // height: 100vh;
  background-image: url("../assets/home_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: $break-tablet) {
    height: auto;
    color: #ddd;
  }
}
.app_wrapper_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.app_linear_gradient {
  width: 100%;
  height: 100%;
  // padding: 100px 0 0;
  background: linear-gradient(
      305.39deg,
      #161425 0%,
      rgba(22, 20, 37, 0.76) 37.5%,
      rgba(22, 20, 37, 0) 100%
    ),
    linear-gradient(
      55.83deg,
      #000000 22.71%,
      rgba(0, 0, 0, 0.37) 49.33%,
      rgba(19, 23, 43, 0.24) 99.55%
    );
  @media screen and (max-width: $break-tablet) {
    padding: 0;
  }
}
