.connect_bottom {
  border-bottom: 1px solid #9a9acb;
  padding: 20px 0;
}

.connect_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
  @media screen and (max-width: $break-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.summoner_form {
  .connect_details {
    justify-content: flex-start;
  }
  .connect_txt_wrapper:last-child {
    margin-left: 50px;
    @media screen and (max-width: $break-tablet) {
      margin-left: 0;
    }
  }
}
.connect_txt_wrapper {
  font-weight: $bold;
  .txt_placeholder {
    color: $purple;
    font-size: 0.875rem;
    margin-bottom: 15px;
  }
  .txt_input {
    .loc_visible_value {
      cursor: pointer;
      line-height: 60px;
      padding-left: 10px;
    }
    .loc_list {
      position: absolute;
      list-style-type: none;
      padding: 0;
      background: #1e1e2a;
      border-radius: 5px;
      padding: 10px 20px;
      width: 100%;
      margin: 0;
      max-height: 120px;
      overflow-y: scroll;
      .list_item {
        border-bottom: 1px solid $black-60;
        padding-bottom: 5px;
        margin-bottom: 5px;
        line-height: 30px;
        cursor: pointer;
        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }
  }
  .connect_input input,
  .dropdown_location_input {
    background: #1e1e2a;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    height: 60px;
    border-color: transparent;
    width: 245px;
    position: relative;
    padding-left: 10px;
  }
  .dropdown_location_input {
    width: 200px;
    padding-left: 0;
    .drop_arrow {
      position: absolute;
      right: 15px;
      top: 25px;
    }
  }
}

.connect_title {
  font-size: 1.5rem;
}

.connect_desc {
  font-size: 0.875rem;
}

.connect_btn_wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 30px;
}
.connect_error {
  position: absolute;
  font-size: 12px;
  color: red;
  bottom: 85px;
}

.connect_btn_submit {
  display: block;
  width: 150px;
  height: 50px;
  background: $lightBackground;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  @include textCenter;
  color: $white;
  line-height: 50px;
  font-size: 1.125rem;
  cursor: pointer;
}

.connect_sub_title {
  font-size: 1.125rem;
}

select {
  color: $black;
}
