.loader_on_user_profile{
    // position: absolute;
    // width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}