@mixin textCenter {
    text-align: center;
}

@mixin purpleBg{
    background-color: $purpleBg;
}

@mixin userTitle{
    font-size: 2.25rem;
    line-height: 43px;
}

@mixin background($var){
    background-color: $var;
}


@mixin flexCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}  

@mixin  flexDirCol {
    flex-direction: column;
}