.user_profile_wrapper {
  @import "./userprofile/sectionone.scss";
  @import "./userprofile/sectiontwo.scss";
  @import "./userprofile/sectionthree.scss";
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  @media screen and (max-width: 768px) {
    max-width: 320px;
  }

  .divider_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .section_two {
      //   flex-grow: 1;
      width: 49%;
    }
  }

  .section_one,
  .section_two,
  .section_three {
    @include purpleBg;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .sub_title {
    font-size: 1.5rem;
    line-height: 29px;
  }
  .no_data_msg {
    width: 100%;
    font-size: 1rem;
    @include textCenter;
  }
}
