@font-face {
    font-family: "Avenir-Light";
    src: url("../../public/fonts/avenir/Avenir-Light.ttf") format("woff");
}


//fonts
$avenir: 'Avenir-Light', sans-serif;
$bebasNeue: 'Bebas Neue', cursive;

//font weights
$bold: 700;
$medium: 500;
$light: 400;

// colors 
$white: #ffffff;
$black: #000000;
$lightBackground: #161425;
$semiLightBakground: #25253D;
$pink: #EE6DF6;
$purple: #9A9ACB;
$black-60: rgba(0,0,0,0.6);
$purpleBg: #23233A;
$gray: #B3B4BC;
$green: #62E027;
$red: #E02A27;
$lightGray: #323248;


//responsive width
$break-tablet: 767px;